<!doctype html>
<html>
 
<head>
    <meta charset="utf-8" />
     <link href="{{ app.request.basepath }}/css/mixin.css" rel="stylesheet" />
    <link href="{{ app.request.basepath }}/css/app.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Overlock:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:800' rel='stylesheet' type='text/css'>
    <title>Home</title>
</head>
 
<body>


<div class="nm_container_video">
    <div class="nm_black">
    <video  autoplay>
        <source src="{{ app.request.basepath }}/videos/home_vid.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <img src="https://dancetog.files.wordpress.com/2012/06/auntitled-1dsc_3449z.jpg" alt="">
</div>
    </div>


<div class="nm_container_animate">
    <div class="border_bottom"></div>
    <div class="border_top"></div>
    <div class="border_right"></div>
    <div class="border_left"></div>
    <div class="nm_container_title">
        <h1>Exploration</h1>
        <h2>Les Incas, visitez leur </br>
            civilisation
        </h2>
    </div>
    <div class="nm_container_action">
        <h3> <!--<a href="{{ url('before_category', {id: 1}) }}">-->Commencez</h3>
    </div>
</div>





 

 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{{ app.request.basepath }}/js/script.js"></script>
</body>
 
</html>